$circle-size: 9rem;

$base-color-lt: #E6F9FF;
$highlight: white;

.rf-headline-wrapper {
  display: flex;
  flex-direction: row;
  padding-left: 1rem;   
  align-items: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;


  
  .rf-person-thumb {
    display: block;
    img {
      display: block;
      width: $circle-size;
      border-radius: 50%;
      border: double 8px $base-color-lt;
      margin-top: 2rem;
    }

    .rf-person-input {
      margin-top: 10px;
      margin-left: 15px;
    }
  } 
  
  .rf-quote-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 1rem; 
    width: 100%;
    
    .rf-ref-quote {
      background-color: $base-color-lt;
      color: #2F2F2F;
      padding: 1rem 1rem;
      font-size: 2.5rem;
      font-weight: 300;
      letter-spacing: 1.25px;
      border-radius: 5px;
      width: 100%;

      &:hover {
        text-decoration: none;
      }

      strong {
        font-weight: 400;
        font-size: 2.75rem;
      }

      & input {
        color: black;
      }
    }  

  .rf-left-arrow {
    font-size: 20pt;
    padding-left: 1rem;
    color: $base-color-lt;
    margin-right: -2px;
    }   
  }
}



.rf-ref-detail-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 88%;
  padding-left: 18.5rem;
  font-family: 'Source Sans Pro', sans-serif;

  p {
    font-size: 13pt;
  }

  .rf-time {
    display: inline-block;
    .fa-clock-o {
      font-size: 2rem;
    }

    .rf-ref-marker {
      display: inline-block;
      width: 15%;
      margin-left: 2rem;
      input {
        color: #2F2F2F;
        display: inline-block;
        font-size: 2rem;
        text-align: center;
        width: 100%
      }
    }
  }
  


  .rf-screengrab {
    margin-bottom: 2rem;
    
    img {
      max-width: 595px;
      margin-top: 1rem;
      background-image: linear-gradient(to bottom, darkturquoise, $base-color-lt  160%);
    }

    label {
      text-align: center;
      position: relative;

      i {
        font-size: 5rem;
      }
    }

    .rf-screengrab-detail {
      color: white;
      font-size: 2rem;
      margin-bottom: 2rem;
      margin-top: 1rem;
      
      .rf-from, .rf-to, .rf-location {
        :first-child {
          margin-left: 0;
        }
      }

      .rf-location {
        margin-top: 1.5rem;
      }

      i {
        color: #2F2F2F;
        font-size: 2rem;
        margin: 0 1rem;
      }
    }

    .rf-image-descrip {
      height: 75px;
    }
  }

  .empty-screengrab {
    width: 500px;
    height: 250px;
  }

  .empty-refThumb {
    width: 150px;
    height: 150px;
  }
        
  .rf-ref-detail {
    display: flex;

    .rf-ref-thumb {
      display: block;
      img {
        background-image: linear-gradient(to bottom, darkturquoise, $base-color-lt  160%);
        width: 150px;
        height: 150px;
        margin-right: 1.5em;
      }

      label {
        display: block;
        position: relative;
        text-align: center;
        i {
          display: block;
          font-size: 3rem;
          margin-bottom: -2rem;
          position: relative;
        }
      }
    }
    
    & > p {
      margin-top: 0;
      font-family: 'Source Sans Pro', sans-serif;
    }
    
    .rf-ref-items {
      .rf-ref-descrip {
        & > p {
          font-size: 2rem;
        }
        .rf-ref-descrip-strong {
          font-weight: 600;
          margin-right: 0.75rem;
        }
      }

      .rf-image-descrip {
        margin-bottom: 3rem;
      }
    }
  }
}

.rf-button-link {
  border-radius: 10px;
  color: #2F2F2F;
  background-color: $base-color-lt;
  padding: 0.5rem;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
}


.rf-outline {
  border: 3px solid $highlight;
}

.rf-ref-tags {
  ul {
    // display: flex;
    // align-items: center;
  
    li {
      list-style-type: none;
      margin-right: 1.5rem;
      &:last-child {
        margin-right: none;
      }
      .fa {
        padding: 0.75rem auto;
      }
    }
  }
}

input[type=text] {
  background-color: transparent;
  color: white;
  width: inherit;
  border: none;

  &:focus {
    border-bottom: 1px solid $highlight;
    outline: none;
  }
}


textarea {
  background-color: transparent;
  color: black;
  border: none;
  width: 100%;
  height: 100%;

  &:focus {
    border-bottom: 1px solid $highlight;
    outline: none;
  }
}

label:hover {
  cursor: pointer;
}

input[type=file] {
  display: none;
}

select {
  background-color: transparent;
  border-image: none;
  border: none;

  &:focus {
    outline: none;
  }
}