//-- VARIABLES --//
$lg-screen:  960;
$med-screen: 768;
$sm-screen:  640;
$base-color-lt: #D3F0F4; //#E6F9FF
$base-text: darkslategrey;
$highlight: white;
$circle-size: 9rem;
$sm-circle-size: 4rem;

@mixin forLargeScreens($media) {
  @media (min-width: $media/16+em) { @content; }
}

@mixin forSmallScreens($media) {
    @media (max-width: $media/16+em) { @content; }
}

* {
  padding: 0;
  margin: 0;
  font-size: 16px;
}

body {
  font-family: sans-serif;
  background-color: #315481;
  background-image: linear-gradient(to bottom, darkturquoise, $base-color-lt  160%);
  background-attachment: fixed;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
 }

 .app-container {
  display: flex;
  min-height: 100%;
  background: rgba(0, 0, 0, 0); 

  .app-left-col {
    flex: 1;
    @include forSmallScreens($sm-screen) {
      flex: 0;
    }
    max-width: 15%;
  }

  .app-mid-col {
    flex: 2;
    max-width: 800px;
    margin: 0 auto;
    width: 100%;

    .nav-selectors {
      text-align: center;
      margin: 2rem auto;
  
      .panel-title {
        width: 100%;
        margin: 0 2rem;
        @include forSmallScreens($sm-screen) {
          margin: 0;
        }

         a {
          color: white;
          font-family: "Source Sans Pro";
          font-size: 6rem;
          font-weight: 200;
          margin: 0 2rem;
          width: 100%;
         }
      }
    }
    div.toolbar-wrapper {
      @include forSmallScreens($sm-screen) {
        margin: 0;
        text-align: center;
      }
      button.addButton {
        @include forSmallScreens($sm-screen) {
          margin: 0;
          width: 90%;
        }
      }
    }
  }

  .app-right-col {
    flex: 1;
    @include forSmallScreens($sm-screen) {
      flex: 0;
    }
    max-width: 15%;
  }
}

.btn:focus {
  outline: none;
}

.btn:active:focus {
  background-color: transparent;
  outline: none;
  color: white;
  box-shadow: none;
}